@import "./color";
@import "./tool";

.sk-bt-row {
  padding-bottom: 10px;
  padding-top: 10px;
}

.sk-button {
  height: 26px;
  background-color: @color-bk-1;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 0 solid @color-main-1;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 26px;
  padding: 0 24px;
  .transition(all, 0.5s, ease);

  &.sk-bt-add {
    font-size: 20px;
  }
}

.sk-button-screening {
  &>div {
    margin-bottom: 10px;
    font-size: 0;
    &>div {
      display: inline-block;
      vertical-align: top;
    }
    .sk-button-screening-label {
      width: 60px;
      opacity: .6;
      line-height: 30px;
      font-size: 14px;
    }
    .sk-button-screening-bt-list {
      font-size: 0;
      &>div {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid @color-solid;
        height: 22px;
        line-height: 22px;
        margin-top: 3px;
        padding: 0 20px;
        margin-right: 10px;
        border-radius: 15px;
        .transition(all, 0.5s, ease);
        cursor: pointer;
        &.active {
          background-color: @color-bk-1;
        }
        &:hover {
          background-color: @color-bk-1;
        }
      }
    }
  }
}