@import "./color";
@import "./tool";

@import "./modal";
@import "./input";
@import "./prompt";
@import "./paging";
@import "./form";
@import "./layout";
@import "./table";
@import "./button";
@import "./switch";
@import "./calendar";

@import "./list";

@import "./index-m";

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @color-font;
}

input {
  margin: 0;
  width: 100%;
  font-size: 14px;
  border: 0 solid @color-bk;
  background-color: @color-bk;
  height: 30px;
  line-height: 20px;
  padding: 5px 20px;
  .border-box();
  border-radius: 15px;

  &:focus {
    border: 0 solid @color-bk;
    outline: none;
  }
}

textarea {
  margin: 0;
  width: 100%;
  padding: 5px 20px;
  .border-box();
  border: 0 solid @color-bk;
  font-size: 14px;
  line-height: 20px;
  border-radius: 15px;
  background-color: @color-bk;
  &:focus {
    border: 0 solid @color-main;
    outline: none;
  }
}
