.sk-modal-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1001;
}
.sk-modal-page > div {
  position: absolute;
  background-color: #fff;
  width: 600px;
  min-height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 10px 0;
  overflow: hidden;
}
.sk-modal-page .sk-modal-title {
  padding-left: 30px;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
}
.sk-modal-page .sk-modal-body {
  overflow: auto;
  max-height: 500px;
  padding: 0 30px;
}
.sk-modal-page .sk-modal-body.sk-modal-body-foot {
  padding-bottom: 50px;
}
.sk-modal-page .sk-modal-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
  font-size: 0;
}
.sk-modal-page .sk-modal-foot > div {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  padding: 0 30px;
  background-color: #F1F3F4;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #F1F3F4;
}
.sk-modal-page .sk-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 0 0 0 15px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-modal-page .sk-modal-close:hover {
  background-color: rgba(44, 62, 80, 0.2);
}
.sk-input-buttom.add-buttom {
  position: relative;
}
.sk-input-buttom.add-buttom > div {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 30px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  border-left: 1px solid #e8eaed;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-input-buttom.add-buttom > div:hover {
  background-color: #e8eaed;
}
.sk-input-buttom.sk-input-search {
  position: relative;
}
.sk-input-buttom.sk-input-search > i {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../src/icon/i-search.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0 10px;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 12px -2px;
  cursor: pointer;
}
.sk-input-buttom.sk-input-select {
  position: relative;
}
.sk-input-buttom.sk-input-select > select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-radius: 15px 0 0 15px;
  border: 0 solid #F1F3F4;
  background-color: #d5dae2;
}
.sk-input-buttom.sk-input-select > select:focus {
  border: 0 solid #F1F3F4;
  outline: none;
}
.sk-input-buttom.sk-input-select > input {
  border-radius: 0 15px 15px 0;
}
.sk-input-buttom.sk-input-select > i {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../src/icon/i-search.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0 10px;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 12px -2px;
  cursor: pointer;
}
.sk-prompt {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.sk-prompt > div {
  position: absolute;
  background-color: #fff;
  width: 500px;
  top: 40%;
  left: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  text-align: left;
  padding: 10px 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sk-prompt > div .sk-prompt-title {
  font-size: 16px;
  line-height: 40px;
}
.sk-prompt > div .sk-prompt-bt-list {
  font-size: 0;
  text-align: right;
  padding-top: 20px;
}
.sk-prompt > div .sk-prompt-bt-list > div {
  height: 30px;
  background-color: #e8eaed;
  font-size: 14px;
  line-height: 28px;
  padding: 0 24px;
  margin-right: 10px;
  border: 1px solid rgba(44, 62, 80, 0.28);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
}
.sk-paging {
  font-size: 0;
  text-align: left;
}
.sk-paging > div {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  height: 30px;
  margin-right: 20px;
}
.sk-paging .sk-page-items {
  font-size: 0;
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.sk-paging .sk-page-items .sk-page-left-page,
.sk-paging .sk-page-items .sk-page-right-page {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  line-height: 32px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: #e8eaed;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-paging .sk-page-items .sk-page-left-page.active,
.sk-paging .sk-page-items .sk-page-right-page.active,
.sk-paging .sk-page-items .sk-page-left-page:hover,
.sk-paging .sk-page-items .sk-page-right-page:hover {
  background-color: rgba(44, 62, 80, 0.28);
}
.sk-paging .sk-page-items .sk-page-left-page {
  border-radius: 15px 0 0 15px;
}
.sk-paging .sk-page-items .sk-page-right-page {
  border-radius: 0 15px 15px 0;
}
.sk-paging .sk-page-items .sk-page-page-list {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  height: 30px;
}
.sk-paging .sk-page-items .sk-page-page-list > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-paging .sk-page-items .sk-page-page-list > div > div {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  line-height: 32px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: #e8eaed;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-paging .sk-page-items .sk-page-page-list > div > div.active,
.sk-paging .sk-page-items .sk-page-page-list > div > div:hover {
  background-color: rgba(44, 62, 80, 0.28);
}
.sk-form {
  text-align: left;
}
.sk-form .sk-form-items .sk-form-row {
  line-height: 30px;
  margin: 10px 0;
  font-size: 0;
  min-height: 30px;
  position: relative;
}
.sk-form .sk-form-items .sk-form-row.sk-none {
  display: none;
}
.sk-form .sk-form-items .sk-form-row label {
  width: 80px;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
}
.sk-form .sk-form-items .sk-form-row > div {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.sk-form .sk-form-items .sk-form-row .sk-date {
  height: 30px;
  position: relative;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-form .sk-form-items .sk-form-row .sk-date .sk-date-remove {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 0 15px 15px 0;
}
.sk-form .sk-form-items .sk-form-row .sk-date.active {
  height: 250px;
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-input {
  background-color: #F1F3F4;
  border-radius: 15px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker {
  background-color: #fff;
  z-index: 1100;
  margin-top: 5px;
  width: 210px;
  border: 1px solid #eaedf1;
  overflow: hidden;
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker > div {
  width: 1050px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker > div.year {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker > div.month {
  transform: translate(-210px, 0);
  -ms-transform: translate(-210px, 0);
  -moz-transform: translate(-210px, 0);
  -webkit-transform: translate(-210px, 0);
  -o-transform: translate(-210px, 0);
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker > div.hours {
  transform: translate(-630px, 0);
  -ms-transform: translate(-630px, 0);
  -moz-transform: translate(-630px, 0);
  -webkit-transform: translate(-630px, 0);
  -o-transform: translate(-630px, 0);
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker > div.minutes {
  transform: translate(-840px, 0);
  -ms-transform: translate(-840px, 0);
  -moz-transform: translate(-840px, 0);
  -webkit-transform: translate(-840px, 0);
  -o-transform: translate(-840px, 0);
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker > div.day {
  transform: translate(-420px, 0);
  -ms-transform: translate(-420px, 0);
  -moz-transform: translate(-420px, 0);
  -webkit-transform: translate(-420px, 0);
  -o-transform: translate(-420px, 0);
}
.sk-form .sk-form-items .sk-form-row .sk-date .date-picker > div > div {
  width: 210px;
  height: 213px;
  display: inline-block;
  vertical-align: top;
}
.sk-form .sk-form-items .sk-form-row .sk-date .year-picker {
  text-align: center;
}
.sk-form .sk-form-items .sk-form-row .sk-date .year-picker .year-items > div {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: 70px;
  cursor: pointer;
}
.sk-form .sk-form-items .sk-form-row .sk-date .year-picker .year-items > div:hover {
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-date .year-picker .year-items > div.active {
  background-color: #e8eaed;
}
.sk-form .sk-form-items .sk-form-row .sk-date .year-picker .year-chang {
  font-size: 0;
  text-align: center;
  line-height: 30px;
}
.sk-form .sk-form-items .sk-form-row .sk-date .year-picker .year-chang > div {
  cursor: pointer;
  font-size: 14px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.sk-form .sk-form-items .sk-form-row .sk-date .month-picker .month-items {
  text-align: center;
}
.sk-form .sk-form-items .sk-form-row .sk-date .month-picker .month-items > div {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: 70px;
  cursor: pointer;
}
.sk-form .sk-form-items .sk-form-row .sk-date .month-picker .month-items > div:hover {
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-date .month-picker .month-items > div.active {
  background-color: #e8eaed;
}
.sk-form .sk-form-items .sk-form-row .sk-date .picker-top {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #eaedf1;
  height: 30px;
  position: relative;
}
.sk-form .sk-form-items .sk-form-row .sk-date .picker-top > div {
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}
.sk-form .sk-form-items .sk-form-row .sk-date .picker-top > div.i-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
}
.sk-form .sk-form-items .sk-form-row .sk-date .picker-top > div.i-left:hover {
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-date .picker-top > div.i-right {
  float: right;
  padding: 0 10px;
}
.sk-form .sk-form-items .sk-form-row .sk-date .picker-top > div.i-right:hover {
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-date .hours-picker .hours-items {
  text-align: center;
}
.sk-form .sk-form-items .sk-form-row .sk-date .hours-picker .hours-items > div {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: 35px;
  cursor: pointer;
}
.sk-form .sk-form-items .sk-form-row .sk-date .hours-picker .hours-items > div:hover {
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-date .hours-picker .hours-items > div.active {
  background-color: #e8eaed;
}
.sk-form .sk-form-items .sk-form-row .sk-date .minutes-picker .minutes-items {
  text-align: center;
}
.sk-form .sk-form-items .sk-form-row .sk-date .minutes-picker .minutes-items > div {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: 70px;
  cursor: pointer;
}
.sk-form .sk-form-items .sk-form-row .sk-date .minutes-picker .minutes-items > div:hover {
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-date .minutes-picker .minutes-items > div.active {
  background-color: #e8eaed;
}
.sk-form .sk-form-items .sk-form-row .sk-date .day-picker .day-items {
  font-size: 0;
}
.sk-form .sk-form-items .sk-form-row .sk-date .day-picker .day-items > div {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.sk-form .sk-form-items .sk-form-row .sk-date .day-picker .day-items > div:hover {
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-date .day-picker .day-items > div.active {
  background-color: #e8eaed;
}
.sk-form .sk-form-items .sk-form-row .sk-date .day-picker .day-items > div.top:hover {
  background-color: #fff;
}
.sk-form .sk-form-items .sk-form-row .sk-upload {
  width: 150px;
  height: 80px;
  background-color: #e8eaed;
  border: 5px solid #e8eaed;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.sk-form .sk-form-items .sk-form-row .sk-upload i {
  background-image: url('../src/icon/i-upload.svg');
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sk-form .sk-form-items .sk-form-row .sk-upload img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sk-form .sk-form-items .sk-form-row .sk-upload input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.sk-form .sk-form-items .sk-form-row .sk-textarea {
  display: inline-flex;
}
.sk-form .sk-form-items .sk-form-row .sk-input {
  overflow: hidden;
  height: 30px;
}
.sk-form .sk-form-items .sk-form-row .sk-select {
  background-color: #F1F3F4;
  border-radius: 15px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.sk-form .sk-form-items .sk-form-row .sk-select::before {
  content: '';
  width: 30px;
  height: 30px;
  top: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 0 10px;
  background-position: 14px 4px;
  background-size: 22px 22px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-image: url(../src/icon/i-drop-down.svg);
}
.sk-form .sk-form-items .sk-form-row .sk-select select {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-radius: 15px;
  border: 0 solid #F1F3F4;
  background-color: #F1F3F4;
}
.sk-form .sk-form-items .sk-form-row .sk-select select:focus {
  border: 0 solid #F1F3F4;
  outline: none;
}
.sk-form .sk-form-items .sk-form-row .sk-radio {
  line-height: 30px;
  min-height: 30px;
  padding-left: 10px;
}
.sk-form .sk-form-items .sk-form-row .sk-radio > div {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
.sk-form .sk-form-items .sk-form-row .sk-radio > div:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  display: inline-block;
  border: 1px solid #2c3e50;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.sk-form .sk-form-items .sk-form-row .sk-radio > div:after {
  width: 8px;
  height: 8px;
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  background-color: #2c3e50;
  transform: translate(3px, -50%);
  -ms-transform: translate(3px, -50%);
  -moz-transform: translate(3px, -50%);
  -webkit-transform: translate(3px, -50%);
  -o-transform: translate(3px, -50%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  opacity: 0;
}
.sk-form .sk-form-items .sk-form-row .sk-radio > div.active:after {
  opacity: 1;
}
.sk-layout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.sk-layout.sk-layout-show-menu .sk-layout-menu {
  width: 220px;
}
.sk-layout.sk-layout-show-menu .sk-layout-menu .sk-layout-menu-body {
  width: 220px;
}
.sk-layout.sk-layout-show-menu .sk-layout-content {
  padding-left: 220px;
}
.sk-layout .sk-layout-menu {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  width: 50px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.sk-layout .sk-layout-menu .sk-layout-menu-body {
  position: absolute;
  width: 50px;
  height: 100%;
  color: #fff;
  padding-top: 50px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  z-index: 1000;
  overflow: hidden;
  background-image: url(../src/img/menu-bk.jpeg);
}
.sk-layout .sk-layout-menu .sk-layout-menu-body:hover {
  width: 220px;
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div {
  width: 220px;
  padding-left: 50px;
  height: 40px;
  line-height: 40px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div.active {
  background-color: rgba(255, 255, 255, 0.3);
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.home {
  background-image: url('../src/icon/i-home.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.employee {
  background-image: url('../src/icon/i-employee.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.logs {
  background-image: url('../src/icon/i-logs.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.logout {
  background-image: url('../src/icon/i-logout.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.auth {
  background-image: url('../src/icon/i-auth.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.user {
  background-image: url('../src/icon/i-user.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.teamwork {
  background-image: url('../src/icon/i-teamwork.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.attend {
  background-image: url('../src/icon/i-attend.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.statistics {
  background-image: url('../src/icon/i-statistics.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.approval {
  background-image: url('../src/icon/i-approval.svg');
}
.sk-layout .sk-layout-menu .sk-layout-menu-body > div i.announcement {
  background-image: url('../src/icon/i-announcement.svg');
}
.sk-layout .sk-layout-content {
  padding-left: 50px;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.sk-layout .sk-layout-content > div {
  padding: 20px 20px 20px 190px;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: auto;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.sk-layout .sk-layout-content > div.sk-layout-hidden-sub-menu {
  padding: 20px 20px 20px 20px;
}
.sk-layout .sk-layout-content > div.sk-layout-hidden-sub-menu .sk-layout-sub-menu {
  width: 0;
}
.sk-layout .sk-layout-content > div .sk-layout-sub-menu {
  position: fixed;
  top: 0;
  left: 50px;
  width: 170px;
  height: 100%;
  padding-top: 10px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  background-color: #eaedf1;
}
.sk-layout .sk-layout-content > div .sk-layout-sub-menu > div {
  padding-left: 20px;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-layout .sk-layout-content > div .sk-layout-sub-menu > div:hover {
  background-color: #fff;
}
.sk-table {
  text-align: left;
  display: inline-block;
}
.sk-table .sk-table-top {
  font-size: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  border-radius: 15px;
  padding: 0 10px;
  overflow: hidden;
  height: 30px;
  border: 0 solid #eaedf1;
  margin-bottom: 0;
}
.sk-table .sk-table-top > div {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  font-size: 14px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sk-table .sk-table-row {
  font-size: 0;
  border: 1px solid #eaedf1;
  margin-bottom: 10px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  border-radius: 15px;
  padding: 0 10px;
  overflow: hidden;
  height: 30px;
}
.sk-table .sk-table-row:hover {
  background-color: #F1F3F4;
}
.sk-table .sk-table-row.active {
  background-color: #F1F3F4;
}
.sk-table .sk-table-row > div {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  font-size: 14px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sk-table .sk-table-row > div .none {
  display: none;
}
.sk-table .sk-table-row > div.sk-table-body-operation span {
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  color: #007bbd;
}
.sk-table .sk-table-row > div.sk-table-body-operation .disabled {
  color: #ddd;
}
.sk-table .sk-table-row > div.sk-table-body-operation .none {
  display: none;
}
.sk-bt-row {
  padding-bottom: 10px;
  padding-top: 10px;
}
.sk-button {
  height: 30px;
  background-color: #e8eaed;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid rgba(44, 62, 80, 0.28);
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 28px;
  padding: 0 24px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-button.sk-bt-add {
  font-size: 20px;
}
.sk-button-screening > div {
  margin-bottom: 10px;
  font-size: 0;
}
.sk-button-screening > div > div {
  display: inline-block;
  vertical-align: top;
}
.sk-button-screening > div .sk-button-screening-label {
  width: 60px;
  opacity: 0.6;
  line-height: 26px;
  font-size: 14px;
}
.sk-button-screening > div .sk-button-screening-bt-list {
  font-size: 0;
}
.sk-button-screening > div .sk-button-screening-bt-list > div {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  background-color: #F1F3F4;
  height: 26px;
  line-height: 26px;
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  cursor: pointer;
  opacity: 0.8;
}
.sk-button-screening > div .sk-button-screening-bt-list > div.active {
  background-color: #e8eaed;
  opacity: 1;
}
.sk-button-screening > div .sk-button-screening-bt-list > div:hover {
  background-color: #e8eaed;
}
.sk-switch {
  height: 30px;
}
.sk-switch input {
  width: 0;
  height: 0;
  opacity: 0;
}
.sk-switch span {
  width: 40px;
  margin: 5px 0;
  display: inline-block;
  position: relative;
  height: 20px;
  border: 1px solid #dcdfe6;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #dcdfe6;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-switch span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  -webkit-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
}
.sk-switch.active span {
  border-color: #13ce66;
  background-color: #13ce66;
}
.sk-switch.active span:after {
  transform: translate(21px, 1px);
  -ms-transform: translate(21px, 1px);
  -moz-transform: translate(21px, 1px);
  -webkit-transform: translate(21px, 1px);
  -o-transform: translate(21px, 1px);
}
.sk-calendar-page {
  font-size: 0;
  text-align: left;
  position: relative;
  margin: auto;
}
.sk-calendar-page > div {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
  width: 14%;
  height: 100px;
}
.sk-calendar-page > div.calendar-date {
  display: block;
  width: 100%;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}
.sk-calendar-page > div.light {
  opacity: 0.5;
}
.sk-calendar-page > div.top {
  opacity: 0.5;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #eaedf1;
}
.sk-calendar-page > div .day {
  line-height: 30px;
  font-weight: bold;
}
.sk-calendar-page > div .project {
  font-size: 14px;
  text-align: center;
}
.sk-calendar-page > div .project > div {
  cursor: pointer;
  margin: 3px 10px;
  padding: 0 10px;
  border-radius: 12px;
}
.sk-list-add {
  position: relative;
  width: 100%;
  border-radius: 15px;
}
.sk-list-add .input-search {
  position: relative;
}
.sk-list-add .input-search > i {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../src/icon/i-search.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0 10px;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 12px -2px;
  cursor: pointer;
}
.sk-list-add .items-search {
  position: absolute;
  z-index: 999;
  top: 100%;
  margin-top: 5px;
  left: 0;
  width: 100%;
  line-height: 30px;
  max-height: 200px;
  overflow: auto;
  border-radius: 15px;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 1px solid #eaedf1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  background-color: #ffffff;
  font-size: 14px;
}
.sk-list-add .items-search.hidden {
  height: 0;
  border: 0 solid #eaedf1;
  margin: 0;
}
.sk-list-add .items-search > div {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 10px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
}
.sk-list-add .items-search > div:last-child {
  border-bottom: 0 solid #f2f2f2;
}
.sk-list-add .items-search > div:hover {
  background-color: #F1F3F4;
}
@media screen and (min-width: 375px) {
  html {
    font-size: 14.0625px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 13.5px;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .sk-layout {
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 4rem;
  }
  .sk-layout .sk-layout-menu {
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
  }
  .sk-layout .sk-layout-menu .sk-layout-menu-body {
    width: 100%;
    padding-top: 0;
    text-align: left;
  }
  .sk-layout .sk-layout-menu .sk-layout-menu-body:hover {
    width: 100%;
  }
  .sk-layout .sk-layout-menu .sk-layout-menu-body > div {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    vertical-align: top;
    padding: 0.4rem 0;
    text-align: center;
  }
  .sk-layout .sk-layout-menu .sk-layout-menu-body > div i {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    margin: auto;
  }
  .sk-layout .sk-layout-menu .sk-layout-menu-body > div > div {
    display: block;
    font-size: 0.6rem;
    line-height: 1.6rem;
  }
  .sk-layout .sk-layout-content {
    padding-left: 0;
    height: auto;
    position: relative;
  }
  .sk-layout .sk-layout-content > div {
    padding: 3rem 0 0 0;
  }
  .sk-layout .sk-layout-content > div.sk-layout-hidden-sub-menu {
    padding: 0;
  }
  .sk-layout .sk-layout-content > div.sk-layout-hidden-sub-menu .sk-layout-sub-menu {
    display: none;
  }
  .sk-layout .sk-layout-content > div .sk-layout-sub-menu {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    height: auto;
    margin-bottom: 0.5rem;
  }
  .sk-layout .sk-layout-content > div .sk-layout-sub-menu > div {
    font-size: 1rem;
    line-height: 2rem;
    display: inline-block;
    padding: 0 1rem 0 0;
  }
  .sk-layout .sk-layout-content > div .sk-layout-sub-menu > div:hover {
    background-color: #fff0;
  }
  .sk-table {
    width: 100%;
    overflow: auto;
  }
  .sk-table .sk-table-top,
  .sk-table .sk-table-row {
    min-width: 60rem;
  }
  .sk-paging {
    text-align: center;
  }
  .sk-paging .sk-page-items {
    margin-right: 0;
  }
  .sk-modal-page > div {
    width: 100% !important;
  }
  .sk-prompt > div {
    width: 100%;
  }
}
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
input {
  margin: 0;
  width: 100%;
  font-size: 14px;
  border: 0 solid #F1F3F4;
  background-color: #F1F3F4;
  height: 30px;
  line-height: 20px;
  padding: 5px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border-radius: 15px;
}
input:focus {
  border: 0 solid #F1F3F4;
  outline: none;
}
textarea {
  margin: 0;
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 0 solid #F1F3F4;
  font-size: 14px;
  line-height: 20px;
  border-radius: 15px;
  background-color: #F1F3F4;
}
textarea:focus {
  border: 0 solid #2c3e50;
  outline: none;
}
